In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from iertools.read import read_sql
from dateutil.parser import parse

In [ ]:
f = 'dfdf'
tmp = read_sql(f,read='all')
nombres = tmp.rename_from_sql()
tmp.rename(columns=nombres)
cb = tmp.data

f = 'ffdgds'
tmp = read_sql(f,read='all')
nombres = tmp.rename_from_sql()
tmp.rename(columns=nombres)
ven = tmp.data

In [ ]:
cb['Ti']  = ( cb.Ti_COMEDOR*80 +  cb.Ti_SALA*45)/125
ven['Ti'] = (ven.Ti_COMEDOR*80 + ven.Ti_SALA*45)/125

In [ ]:
f1 = parse('2006-01-01')
f2 = f1 + pd.Timedelta('365D')
fig, ax = plt.subplots(figsize=(12,3))

ax.plot(cb.Ti ,label='cb')
ax.plot(ven.Ti,label='ven')

ax.set_xlim(f1,f2)
ax.legend()

In [ ]:
cb_Timax_mes  =  cb.Ti.resample('D').max().resample('M').mean()
ven_Timax_mes = ven.Ti.resample('D').max().resample('M').mean()

In [ ]:
f1 = parse('2006-01-01')
f2 = f1 + pd.timedelta('365D')
fig, ax = plt.subplots(figsize=(12,3))

ax.plot(cb_Timax_mes,'ro',label='CB')
ax.plot(ven_Timax_mes,'bo',label='Ven')

ax.set_xlim(f1,f2)
ax.legend()

In [ ]:
def FD(cb):
    FD = ((cb.Ti.resample('D').max()-cb.Ti.resample('D').min())/(cb.To.resample('D')))
    return FD

In [ ]:
cb_fd  = FD(cb)
ven_fd = FD(ven)

In [ ]:
f1 = parse('2006-01-01')
f2 = f1 + pd.Timedelta('365D')
fig, ax = plt.subplots(figsize=(12,3))

ax.plot(cb_fd.'ro',label='CB')
ax.plot(ven_fd,'bo',label='ven')

ax.set_xlim(f1,f2)
ax.legend()

In [ ]:
cb.To.resample('M').mean()

In [ ]:
Tn = 13.5 + 0.54*cb.To.resample('M').mean()[0]
DeltaTn = 1.5
Tn

In [ ]:
cb['Tn-DTn'] = Tn - DeltaTn

In [ ]:
cb.info()

In [ ]:
Ti_df = cb.Ti.loc[cb.Ti<cb['Tn-DTn']]

In [ ]:
f1 = parse('2006-01-01')
f2 = f1 + pd.Timedelta('365D')
fig, ax = plt.subplots(figsize=(12,3))

ax,plot(cb.Ti,label='CB')
ax.plot(Ti_df,'r',label='Ti_df')

ax.set_xlim(f1,f2)
ax.legend()

In [ ]:
# Enero, Febrero, Diciembre

cb_ene = cb.loc['2006-01'].copy()
cb_feb = cb.loc['2006-02'].copy()
cb_dic = cb.loc['2006-12'].copy()

cb_ene['Tn-DTn'] = cb_ene.To.mean()*0.54 + 13.5 - 1.5
cb_feb['Tn-DTn'] = cb_feb.To.mean()*0.54 + 13.5 - 1.5
cb_dic['Tn-DTn'] = cb_dic.To.mean()*0.54 + 13.5 - 1.5

Tn = 13.5Â°C + 0.54Tm

In [ ]:
# f1 = parse('2006-01-01')
# f2 = f1 + pd.timedelta('365D')
fig, ax = plt.subplots(figsize=(12,3))

ax.plot(cb_ene['Tn-DTn'])
ax.plot(cb_feb['Tn-DTn'])
ax.plot(cb_dic['Tn-DTn'])
# ax.plot(ven,Ti)

#ax.set_xlim(f1,f2)
ax.legend()

In [ ]:
cb_ene['GHDF'] = cb_ene['Tn-DTn'] - cb_ene['Ti']
cb_feb['GHDF'] = cb_feb['Tn-DTn'] - cb_feb['Ti']
cb_dic['GHDF'] = cb_dic['Tn-DTn'] - cb_dic['Ti']

In [ ]:
cb_frio = pd.concat([cb_ene,cb_feb,cb_dic])
cb_frio['GHDF'] = (cb_frio['Tn-DTn'] - cb_frio['Ti'])*1/6
cb_frio['GHDF'].sum()

In [ ]:
meses = ['2006-01','2006-02','2006-12']

def calcula_ghdf(cb,meses):
    #paso1
    cb_m1 = cb.loc[meses[0]].copy()
    cb_m2 = cb.loc[meses[1]].copy()
    cb_m3 = cb.loc[meses[2]].copy()

    cb_m1['Tn-DTn'] = cb_m1.To.mean()*0.54 + 13.5 - 1.5
    cb_m2['Tn-DTn'] = cb_m2.To.mean()*0.54 + 13.5 - 1.5
    cb_m3['Tn-DTn'] = cb_m3.To.mean()*0.54 + 13.5 - 1.5

    # paso2, calcula GHDF
    cb_m1['GHDF'] = cb_m1['Tn-DTn'] - cb_m1['Ti']
    cb_m2['GHDF'] = cb_m2['Tn-DTn'] - cb_m2['Ti']
    cb_m3['GHDF'] = cb_m3['Tn-DTn'] - cb_m3['Ti']

    # paso 3, unir meses
    cb_meses = pd.concat([cb_m1,cb_m2,cb_m3])

    # paso 4, calcula GHDF
    cb_meses['GHDF'] = (cb_meses['Tn-DTn'] - cb_meses['Ti'])*1/6
    return cb_meses['GHDF'].sum()

In [ ]:
calcula_ghdf(cb,meses)